services:
  db:
    image: postgis/postgis:16-3.4
    container_name: sg-db
    env_file:
      - .env
    ports:
     - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  web:
    build: .
    container_name: sg-web
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  dashboard:
    build: .
    container_name: sg-dashboard
    ports:
      - "8501:8501"
    env_file:
      - .env
    depends_on:
      - web
      - db
    restart: unless-stopped

volumes:
  postgres_data:

